<!DOCTYPE html>
<html>
    <body>
        <h2>
            HTML Forms
        </h2>
        <form action="/submit" method="post">

            <label for="Telugu">Telugu</label><br><br>
            <input type="text" id="telugu" name="telugu" value=""><br><br>

            <lable for="Hindi">Hindi</lable><br><br>
            <input type="text" id="hindi" name="hindi" value=""><br><br>

            <label for="English">English</label><br><br>
            <input type="text" id="english" name="english" value=""><br><br>

            <label for="Science">Science</label><br><br>
            <input type="text" id = "science" name="science" value=""><br><br>

            <label for="Maths">Maths</label><br><br>
            <input type="text" id="maths" name="maths" value=""><br><br>

            <label for="Social">Social</label><br><br>
            <input type="text" id="social" name="social" value=""><br><br>

            <input type="submit" value="submit"><br>

            <p>
                Once you click on submit, form-data will be sent for validation.
            </p>
        </form>
    </body>
</html>